driver/kernel-headers.d

# Object files and Kernel Objects
*.o
*.ko
*.obj

# Kernel Module specific build files
driver/src/*.mod
driver/src/*.mod.c
driver/src/*.mod.o
driver/src/*.ko.cmd

# Build dependency and command tracking (Hidden files)
.*.cmd
.*.d

# Linker and Symbol files
modules.order
Module.symvers
Module.markers

# Temporary build directories
.tmp_versions/

# Install location (if installing locally for testing)
/lib/
overlay/ws_epaper.dtbo

user/bin/
